.App {
  text-align: center;
  color:#333;
  border:2px solid #fee;
  border-radius: 4px;
  background-color: #eee;
  margin:2em;
  padding: 0 1em;
  min-height: 20em;
  min-width: 32em;
  font-family: '楷体';
  box-shadow: 0 0 1em hsla(0,0%,0%,0.15);
}
.App .todoList>li:nth-child(odd){
  background-color: #ff0;
  color:#00f;
}
.App .todoList>li:nth-child(even){
  background:#0ff;
  color:#f00;
}
.App .todoList>li{
  font-weight: bold;
}
.App>h1{
  padding:0.5em;
  color:#f60;
}
button{
  font-family: '楷体';
  color:#e00;
  padding:1px;
  font-size:0.8em;
  border-radius: 2px;
}
button:hover{
  cursor:pointer;
}
input{
  font-family: '楷体';
  border:2px solid #fff;
  border-radius: 4px;
  box-shadow: 0 0 2em hsla(0,0%,0%,0.15);
}
.time{
  position: absolute;
  top:3em;
  color:#f0f;
}